<!DOCTYPE html>
<html>

<head>
  <title>GDC Airways</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Paytone+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/GDC-HomeCSSnew.css">
</head>

<body>
  <!--NavBar-->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="/images/4b5d99c4-2f06-45be-88b2-5e4bb39f9885.png" id="logo"> GDC
          AIRWAYS</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><strong>Home</strong></a></li>
          <li><a href="#"><strong>About</strong></a></li>
          <li><a href="/users/review"><strong>Review</strong></a></li>
          <li><a href="/users/viewbooking"><strong>My Bookings</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(issession=="false"){ %>
          <li><a>
              <form method="get" action="/users/signup"><button class="newbtn">Sign Up</button></form>
            </a></li>
          <li><a>
              <form method="get" action="/users/signin"><button class="newbtn">Login</button></form>
            </a></li>
          <%}
          else{%>
          <li><a>
              <form method="get" action="/users/signout"><button class="newbtn">Logout</button></form>
            </a></li>
          <li><a><strong><%= username %> </strong><i class="fas fa-user"></i></a></li>
          <%}%>
        </ul>
		</div>
	</nav>
  <!--NavBar End-->

  <!--Heading/Moto-->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>Your  Experience  Starts  Here!</h1>
				</div>
			</div>
		</div>
	</div>
  <!--Heading/Moto End-->

  <!--Tabs-->
	<div class="container" id="second">
    <!--Tabs Headings-->
    <ul class="nav nav-tabs">
      <li class="active"><a class="tabshead" data-toggle="tab" href="#home"><i class="fas fa-plane"></i> Flights</a></li>
      <li><a class="tabshead" href="/users/checkin"><i class="far fa-address-book"></i> Check-in</a></li>
      <li><a class="tabshead" data-toggle="tab" href="#menu2"><i class="far fa-clock"></i> Flight Status</a></li>
    </ul>
    <!--Tabs Headings End-->

    <!--Tabs Content-->
    <div class="tab-content">
      <!--Tab Content Flight-->
      <div id="home" class="tab-pane fade in active">
        <h3 class="lab">Flights</h3>
        <form  method="POST" action="/users/searchflight"> 
          <select name="origin" class="drop" id="ori">
        	 <option value="Origin">Origin</option>
        	 <option value="Karachi" selected>KARACHI</option>
        	 <option value="Lahore">LAHORE</option>
        	 <option value="Islamabad">ISLAMABAD</option>
        	 <option value="Peshawar">PESHAWAR</option>
          </select>
          <i class="fas fa-exchange-alt"></i>
          <select name="destination" class="drop" id="dest">
          	<option value="Destination">Destination</option>
            <option value="Karachi">KARACHI</option>
            <option value="Lahore" selected>LAHORE</option>
            <option value="Islamabad">ISLAMABAD</option>
            <option value="Peshawar">PESHAWAR</option>
          </select>
          <input type="number" class="drop" name="passengers" step="1" min="1" max="10" placeholder="Number Of Passengers" id="pass_num" value="1">
          <span class="lab">Departure:</span>
          <input type="date" name="depart" class="drop" id="depart" value="2022-12-07">
          <span class="lab">Return:</span>
          <input type="date" name="return" class="drop" id="return" value="2022-12-09">
          <input type="radio" name="triptype" value="One-Way">
          <label for="One-Way">One-Way</label><br>
          <input type="radio" name="triptype" value="Return">
          <label for="Return">Return</label><br>
          <button type="submit" name="submit" class="btn btn-default btn-lg">Search Flight</button>
          <!-- <input type="submit" name="submit"> -->
        </form>
      </div>
      <!--Tab Content Flight End-->

      <!--Tab Content My Bookings-->
      <div id="menu1" class="tab-pane fade">
        <h3 class="lab2">My Bookings</h3>
        <form action="/users/checkinform" method="POST">
          <% if (typeof(alert) !== 'undefined') { %>
          <div class="alert alert-danger" role="alert" id="signup-alert">
            <strong aria-hidden="true">
              <%= message %>
            </strong>
          </div>
          <% } %>
          <input type="text" name="bookref" placeholder="Booking Reference" class="drop2">
          <input type="text" name="lname" placeholder="Passenger Last Name" class="drop2">
          <input type="submit" name="checkinbtn" id="tickButton">
          </form>
      </div>
      <!--Tab Content My Bookings Ends-->

      <!--Tab Content Flight Status-->
      <div id="menu2" class="tab-pane fade" style="text-align: center;">
        <h3 class="lab2">COMING SOON</h3>
      </div>
      <!--Tab Content Flight Status Ends-->
    </div>
    <!--Tab Contents End-->
    </div>
    <!--Tabs End-->

    <!--<script type="text/javascript" src="GDC-HomeJSnew.js"></script>-->
</body>

</html>