#logo{
	width: 40px;
	height:40px;
	display: inline;
	margin-bottom: 10px;
	vertical-align: top;
}

#listdiv1{
	padding: 0px 20px;
	margin-bottom: 10px;
	font-family: Bree Serif; 
	font-size: small;
	height: 60px;;
}

ul{
	list-style: none;
	margin-left: 100px;
	height: 60px;
}

.prgrsbar{
	margin-top: 50px;
}
.prgrsbar li{
	margin-left: 30px;
	display: inline-block ;
	font-weight: bold;
}

.stepno{
	color: rgb(73, 167, 35);
}

.Step{
	border-bottom: 4px solid rgb(73, 167, 35);
	border-radius: 3px;
	color: grey;
}

.prgrsbar .stepno{
	font-size: 30px;
}
.prgrsbar .steptext{
	font-size: 15px;
}
.scsmsg{
    margin-left:40px
}